body {
  background-color: #000;
}
.cover {
  padding: 3em;
  text-align: center;
  color: #fff;
  position: relative;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}
