section#barrio-abierto.propiedades-section
	#background-barrio-abierto
	p Lideres Sociales Emergentes nos cuentan su historia de vida en el Barrio
	h3.amatic Historias + Inspiración + Proyectos de vida.
	img(src='images/youtube_imagenes_barrio_abierto.png.png')
		