section#barrio-abierto.propiedades-section
	h3.barrio-abierto-p.u-flex-end Evento de alto Impacto donde Lideres Sociales Emergentes nos cuentan su historia de vida en el barrio
	.barrio-abierto-video-container
		.barrio-abierto-video-item
			iframe.barrio-abierto-video(src="https://www.youtube.com/embed/683WThHvg5c?rel=0&amp;controls=0&amp;showinfo=0" frameborder="0" allowfullscreen)
		.barrio-abierto-video-item
			iframe.barrio-abierto-video(src="https://www.youtube.com/embed/CoQkKAufTkM?rel=0&amp;controls=0&amp;showinfo=0" frameborder="0" allowfullscreen)
		.barrio-abierto-video-item
			iframe.barrio-abierto-video(src="https://www.youtube.com/embed/1jelWJPDgBI?rel=0&amp;controls=0&amp;showinfo=0" frameborder="0" allowfullscreen)
	a.button-red Ver Más Historias
	h3.barrio-abierto-p Sumate vos podés ser parte
	.barrio-iconos
		.barrio-abierto-item
			img.barrio-abierto-icono(src='images/icono-orador.svg')
			p.barrio-abierto-icono-texto Orador
		.barrio-abierto-item
			img.barrio-abierto-icono(src='images/icono-organizador.svg')
			p.barrio-abierto-icono-texto Organizador
		.barrio-abierto-item
			img.barrio-abierto-icono(src='images/icono-coachdeoradores.svg')
			p.barrio-abierto-icono-texto Coach de Oradores
		.barrio-abierto-item
			img.barrio-abierto-icono(src='images/icono-artista.svg')
			p.barrio-abierto-icono-texto Artista

	