section.casos
	img(src='images/casos_claudia.png')
	h2.tit-agente-cambio Claudia Mundo
	br
	h3 "Ayudamos a los chicos a llegar a su mayo potencial y a poder trazar su camino de vida"
	a.casos-button(href="#planes") Conocé la experiencia!
	img(src='images/casos_fernanda.png')
	h2.tit-agente-cambio Fernanda Miño
	br
	h3 "Yo nací vivo y elijo vivir en la cava para ayudar a mis vecinos"
	a.casos-button(href="#planes") Conocé la experiencia!
	
