footer
  .footer-container
    .footer-logo
      .footer-texto
        | Hecha con <3 Por Prisett.com y Colaboradores Bernardo Biante y Sebastián Eugenio
      .contacto-redes
            a#twitter(href='https://twitter.com/CreerHacer', target='_blank')
              img(src='images/twitter_circle_color-256-3.png')
            a#facebook(href='https://www.facebook.com/CreerHacer/', target='_blank')
              img(src='images/facebook-circle.png')
            a#youtube(href='https://www.youtube.com/channel/UCd_-XOq5iZEQEdT66HaKfEQ', target='_blank')
              img(src='images/youtube_circle_color-512-2.png')