section#presentacion.propiedades-section
      .propiedades-section
        h2#quehacemos Que hacemos
        p(style='color: black')
          | Trabajamos para crear espacios de encuentro con personas de diversos orígenes, sectores y regiones para realizar la integración efectiva y la tranformación social permanente.