section#presentacion.propiedades-section
      .propiedades-section
        h2.u-violeta#quehacemos Que hacemos
        img.puntos(src="images/puntos-violeta.png")
        p.presentacion-p(style='color: black')
          | Trabajamos para crear espacios de encuentro con personas de diversos orígenes, sectores y regiones para realizar la integración efectiva y la tranformación social permanente.