section.transformadores-sociales
      .transformadores-sociales-logo
        img.img-logo(src='images/transformadores_sociales.png')
      .fondo-content
        img.fondo(src='images/bg_transformadores_sociales.png')
      .transformadores-sociales-content
        h2.tit-agente-cambio Sé un Agente de Cambio
        p.p-agente-cambio
          | 8 módulos de Liderazgo, Innovacion y creatividad,
          | Comunicación y resolución de conflictos, Ser sustentable,
          | Trabajo en Equipo, Ética, Desarrollo de Talento.
        a.link-inscribite(href='') Inscribite