
<section class="casos"><img src="images/casos-claudia.png"/>
  <h2 class="tit-agente-cambio">Claudia Mundo</h2><br/>
  <h3>"Ayudamos a los chicos a llegar a su mayo potencial y a poder trazar su camino de vida"</h3><a href="#planes" class="casos-button">Conocé la experiencia!</a><img src="images/casos-fernanda.png"/>
  <h2 class="tit-agente-cambio">Fernanda Miño</h2><br/>
  <h3>"Yo nací vivo y elijo vivir en la cava para ayudar a mis vecinos"</h3><a href="#planes" class="casos-button">Conocé la experiencia!</a>
</section>