
<section class="mate">
  <div class="mate-logo"><img src="images/Logo_Mate.png"/>
    <h2>Laboratorio de transformación social</h2>
  </div>
  <div class="mate-content">
    <div class="mate-imgs"><img src="images/img_mate1.png"/><img src="images/img_mate2.png"/><img src="images/img_mate3.png"/></div>
    <h3>MATE es nuestra comunidad colaborativa un espacio donde se integran emprendedores de impacto, emprendedores barriales, empresas y org. sin fines de lucro. </h3><img src="images/Coworking-Incubado.png"/><a href="" class="link-inscribite">VER MAS</a>
  </div>
</section>